  p {
    font-family: Roboto;
  }
   .main_content {
    width:100%; 
    height: calc(100vh); 
    background: #efefef;
}
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #52b788 !important;
}
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #52b788 !important;
} 
  
::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #52b788 !important;
}
  
.mat-raised-button{
    color: #52b788 !important;
}
 
::ng-deep mat-option.mat-selected {
    background: COLOR2 !important;
    color: #52b788 !important;
}

::ng-deep.mat-select-arrow {
    color: #52b788 !important;
}

::ng-deep.fc-view, .fc-view>table {
  background:#ffff !important;
}

::ng-deep.fc-col-header-cell-cushion {
  color:rgb(0, 0, 0);
}

::ng-deep.fc-toolbar-title {
  padding-left: 7px;
  padding-top: 5px;
}

::ng-deep.fc-daygrid-day-number {
  color:#52b788
}

::ng-deep.fc-event-time {
  color:rgb(0, 0, 0);
}

::ng-deep.fc-event-title {
  color:rgb(0, 0, 0);
}
::ng-deep.fc-daygrid-event-dot {
  cursor:pointer;
}
::ng-deep.fc-event-time {
  cursor:pointer;
}

::ng-deep.fc-event-title {
  cursor:pointer;
}

:ng-deep.a {
  color:black;
  text-decoration: none;
  background-color: transparent;
}