<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
    <h2 style = "padding-left: 20px;font-family: Arial, Helvetica, sans-serif;display: inline-block;">Vaccines</h2>
      <!--<button  mat-raised-button type="button" style = "margin-left: 390px;" (click) = "onClose()">X</button> -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
         <ng-container matColumnDef="vaccineName">
            <th mat-header-cell *matHeaderCellDef> Vaccine Name </th>
            <td mat-cell *matCellDef="let vac"> {{vac.vaccineName}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let vac"> {{vac.date |  date : "dd/MM/yyyy " }} </td>
          </ng-container>
      
          <ng-container matColumnDef="dateTaken">
            <th mat-header-cell *matHeaderCellDef> Date Taken </th>
            <td mat-cell *matCellDef="let vac"> {{vac.dateTaken |  date : "dd/MM/yyyy"}} </td>
          </ng-container>
      
          <ng-container matColumnDef="validity">
            <th mat-header-cell *matHeaderCellDef> Validity </th>
            <td mat-cell *matCellDef="let vac"> {{vac.validity |  date : "dd/MM/yyyy"}} </td>
          </ng-container>
          
          <ng-container matColumnDef="taken">
            <th mat-header-cell *matHeaderCellDef>Taken</th>
            <td mat-cell *matCellDef ="let vac">{{vac.taken | pipeVaccine}}</td>
          </ng-container>
 
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>  