<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>

<div fxLayoutAlign = "center center"  class = "main-div" fxFlexFill>
    <h2 style = "padding-left: 20px;font-family: Arial, Helvetica, sans-serif;display: inline-block;">Edit User Profile</h2>
      <!--<button  mat-raised-button type="button" style = "margin-left: 390px;" (click) = "onClose()">X</button> -->
      <form style ="padding-left:20px;padding-top: 20px;" fxLayoutAlign = "stretch" fxLayout = "column" [formGroup] = "form" (ngSubmit) = "onSubmit()">

        <mat-form-field style = "width:95%">
          <input matInput placeholder="Name" formControlName = "name" >
        </mat-form-field>
        <div *ngIf="(form.controls.name.touched || form.controls.name.dirty) && form.controls.name.errors" style="color: red;font-size: small;">
          <div *ngIf="form.controls.name.errors.required">Name is <strong>required</strong></div>
        </div>
         <mat-form-field style = "width:95%">
          <input matInput placeholder="Contact" formControlName = "contact" >
        </mat-form-field>
        <div *ngIf="(form.controls.contact.touched || form.controls.contact.dirty) && form.controls.contact.errors" style="color: red;font-size: small;">
          <div *ngIf="form.controls.contact.errors.required">Contact is <strong>required</strong></div>
          <div *ngIf="form.controls.contact.errors.pattern">Contact not <strong>valid</strong></div>
        </div>

          <div mat-dialog-actions>
          <button mat-button type="submit">SUBMIT</button>
          <button mat-button class="close1"  (click) ="onNoClick()">CLOSE</button>
      </div>
      </form>
</div>