<div fxLayoutAlign = "center center" fxFlexFill class = "main-div">
    <mat-card fxFlex = "50">
        <mat-toolbar>Reset Password</mat-toolbar>
        <div *ngIf="tokenStatus == TokenStatus.Validating">
            Validating token...
        </div>
        <div *ngIf="tokenStatus == TokenStatus.Invalid">
            Token validation failed, if the token has expired you can get a new one at the <a routerLink="../forgot-password">forgot password</a> page.
        </div>
        <form *ngIf="tokenStatus == TokenStatus.Valid" fxLayoutAlign = "stretch" fxLayout = "column" class = "register-form" [formGroup] = "form" (ngSubmit) = "onSubmit()" > 
<mat-form-field>
    <input matInput type = "password" placeholder="Password" formControlName = "password" name = "password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
  </mat-form-field>
  <div *ngIf="(f.password.touched || f.password.dirty) && f.password.errors" style="color: red;font-size: small;">
    <div *ngIf="f.password.errors.required">Password is <strong>required</strong></div>
    <div *ngIf="f.password.errors.minlength">Password must be at least <strong>6</strong> characters</div>
</div>
  <mat-form-field>
    <input matInput type = "password" placeholder="Confirm Password" formControlName = "passwordConfirm" [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }" >
  </mat-form-field>
  <div *ngIf="(f.passwordConfirm.touched || f.passwordConfirm.dirty) && f.passwordConfirm.errors" style="color: red;">
    <div *ngIf="f.passwordConfirm.errors.required">Confirm Password is <strong>required</strong></div>
    <div *ngIf="f.passwordConfirm.errors.minlength">Confirm Password must be at least <strong>6</strong> characters</div>
    <div *ngIf="f.passwordConfirm.hasError('passwordMismatch')">Passwords <strong>don't match</strong></div>
</div>
  <button mat-raised-button type ="submit">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Register</button> 
    <br>
    <a routerLink="../login" class="btn btn-link">Cancel</a>
</form>
</mat-card>
</div>