<div fxFlex="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="header">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  
    <span>MYPET</span>
    <span class="spacer"></span> 
    <a *ngIf ="isVet" style="padding-left: 93%;color:white" routerLink="/vet" routerLinkActive="active" >VET</a>
    <a *ngIf ="isAdmin" style="padding-left: 93%;color: white;"routerLink="/admin" routerLinkActive="active">ADMIN</a>
    <a *ngIf ="isManager" style="padding-left: 93%;color: white;"routerLink="/manager" routerLinkActive="active">MANAGER</a>
  </div>