::ng-deep .mat-focused .mat-form-field-label {
  color: #52b788 !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #52b788 !important;
} 

::ng-deep.mat-form-field-ripple {
 background-color: #52b788 !important;
}

.mat-raised-button{
  color: #52b788 !important;
}

::ng-deep mat-option.mat-selected {
  background: COLOR2 !important;
  color: #52b788 !important;
}

::ng-deep.mat-select-arrow {
  color: #52b788 !important;
}

.example-card {
width: 190px;
height:100px;
}
.example-card1 {
  width: 100px;
  height:80px;
  display: inline-block;
  }

mat-card:hover .selection {
  opacity: 1;
}
mat-card.mat-elevation-z4 .selection {
  opacity: 1;
}
.card-selected {
  border: 2px solid #52b788;
}

.selection {
  opacity: 0;
  cursor: pointer;
  color: #52b788;
  background: #fff;
  position: absolute;
  right:-10px;
  top:-10px;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg%27');
  background-size: cover;

}

.mat-button{
color: #ffff !important;
background-color: #52b788 !important;
}
.close1 {
color: #52b788 !important;
background-color: #ffff !important;
}

.mat-dialog-actions {
 display:inline;
}

.mat-form-field {
margin-top: 16px;
}

::ng-deep.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
background-color: #52b788 !important;
color: #fff;
}

::ng-deep.mat-step-icon-state-edit {
background-color: #52b788 !important;
color: #fff;
}

::ng-deep.mat-step-header .mat-step-icon-state-done {
  background-color: #52b788 !important;
  color: #fff;
}

::ng-deep.mat-spinner circle {
  text-align: center;
  stroke: #52b788;
}


#container {
  visibility: hidden;
}

#loader {
  color: #52b788;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 45%;
}

#element {
  display: block;
  height: 350px;
}

#wrapper {
  width: 250px;
  margin: 0 auto;
}

.main-div mat-card {
  padding: 0px;
  margin-top: 9%;
}

.register-form {
  padding: 20px
}

.mat-toolbar {
  background: #52b788;
  color: #fff;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0.0005 !important;     /*click effect color change*/
  background-color: #52b788 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #52b788!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color:#52b788!important; /*outer ring color change*/
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #52b788 !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #52b788 !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #52b788 !important;
}

::ng-deep .mat-calendar-header{background-color: #52b788;}

 .mat-calendar-body-cell-content{
     background: #52b788 !important;
}

::ng-deep .mat-calendar-body-selected {
  background: #52b788 !important;
}

.mat-raised-button{
  color: #52b788 !important;
}  

mat-datepicker-toggle {
  color: #52b788 !important;
}

