<div class="sidenav_container"  [@onSideNavChange]="sideNavState ? 'open' : 'close'">
    <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
  
      <div class="user_menu">
        <mat-nav-list>
          <a mat-list-item routerLink = "/userprofile" routerLinkActive = "active">
            <div *ngIf = "userH.profilePicture; else defaultProfile">
            <img class="jim" src="{{userH.profilePicture}}" alt="{{userH.name}} profile picture">
          </div>
          <ng-template #defaultProfile>
            <img class="jim" src="../../../assets/img/default-user-image.png" alt="default profile picture">
          </ng-template>
            <span [@animateText]="linkText ? 'show' : 'hide'"> </span>
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
      </div>
  
      <div>
        <div *ngIf = "isNormal || isManager">
        <mat-nav-list>
          <a mat-list-item *ngFor="let page of pages" routerLink="{{page?.link}}" routerLinkActive="active">
            <mat-icon style="padding-right:5px;">{{page?.icon}}</mat-icon>
            <span [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }} </span>
          </a>
        </mat-nav-list>
      </div>
      <div *ngIf = "isVet">
        <mat-nav-list >
          <a mat-list-item *ngFor="let page of pagesVet" routerLink="{{page?.link}}" routerLinkActive="active">
            <mat-icon style="padding-right:5px;">{{page?.icon}}</mat-icon>
            <span [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }} </span>
          </a>
        </mat-nav-list>
      </div>
      <div *ngIf = "isAdmin">
        <mat-nav-list >
          <a mat-list-item *ngFor="let page of pagesAdm" routerLink="{{page?.link}}" routerLinkActive="active">
            <mat-icon style="padding-right:5px;">{{page?.icon}}</mat-icon>
            <span [@animateText]="linkText ? 'show' : 'hide'">{{page?.name}} </span>
          </a>
        </mat-nav-list>
      </div>
      </div>
    </div>
    <mat-nav-list>
      <a mat-list-item (click) = "logout()">
        <mat-icon style="padding-right:5px;">exit_to_app</mat-icon>
        <span [@animateText]="linkText ? 'show' : 'hide'">Logout</span>
      </a>
    </mat-nav-list>

    <span class="spacer"></span>
    <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;">
      <button mat-icon-button (click)="onSinenavToggle()">
        <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
        <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>