<div fxLayoutAlign = "center center"  class = "main-div" fxFlexFill>
    <mat-card fxFlex = "25">
        <mat-toolbar>Login Page</mat-toolbar>
        <form fxLayoutAlign = "stretch" fxLayout = "column" class = "login-form" [formGroup] = "form" (ngSubmit) = "onSubmit()">
            <mat-form-field>
              <input matInput placeholder="Email" formControlName = "email" >
            </mat-form-field>
            <div *ngIf="f.email.errors"> 		   
              <div *ngIf="f.email.errors.pattern" style="color:red;font-size: small;" >
               Email not valid.
              </div> 
           </div> 
            <mat-form-field>
                <input matInput type = "password" placeholder="Password" formControlName = "password">
              </mat-form-field>
              <button mat-raised-button type ="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login</button>
              <br> 
              <a mat-raised-button routerLink="/account/register" routerLinkActive="active">Register</a>
          </form>   
    </mat-card>
</div>
