<div fxLayoutAlign = "center center"  class = "main-div" fxFlexFill>
  <div fxFlex="row" fxLayoutGap="10px" class="header" style="background-color:#52b788">
    <h1
      style="padding-left: 20px;padding-top:10px;font-family: Arial, Helvetica, sans-serif;display: inline-block;color:white;">
      Adoption Details</h1>   </div> 
      <form style ="padding-left:20px;padding-top: 20px;" fxLayoutAlign = "stretch" fxLayout = "column">
    <div mat-dialog-content>
      
           <mat-form-field style = "width:95%">
            <mat-label>Name</mat-label>
             <input matInput placeholder="Name" floatLabel='never' value="{{adoption?.name}}" readonly>
           </mat-form-field>
  
           <mat-form-field style = "width:95%">
            <mat-label>Birth</mat-label>
             <input matInput placeholder="Birth" value="{{adoption?.birth}}" readonly >
           </mat-form-field>
  
          <mat-form-field style = "width:95%;">
            <mat-label>Animal Type</mat-label>
             <input matInput  value="{{adoption.animaltype}}" readonly>
           </mat-form-field>
  
           <mat-form-field style = "width:95%">
            <mat-label>Race</mat-label>
             <input matInput  value="{{adoption?.race}}" readonly>
           </mat-form-field>
  
  
         <mat-form-field appearance="outline" class="textbox" style="outline-color: #52b788;width: 35.5%;">
          <mat-label>Description</mat-label>
          <input matInput value="{{adoption?.text}}" wrap="hard" readonly>
           </mat-form-field>
  
           <mat-label>Contacts:</mat-label>
            <mat-form-field style = "width:95%;">
              <mat-label>Phone number/Email</mat-label>
               <input matInput  value="{{adoption?.phonenumber}}/{{adoption?.email}}" readonly>
             </mat-form-field>
            <mat-form-field style = "width:95%;">
              <mat-label>City</mat-label>
               <input matInput  value="{{adoption?.city}}" readonly>
             </mat-form-field> 
            <!-- <a *ngFor="let image of attachements ; let i=index" class="rounded mb-3">
              <img [src]='image' *ngIf = "image" width="70" height="70" style="padding-left: 5px;padding-top: 5px;">
        </a>  -->
        <div style="width: 640px; height: 100px; text-align:center;margin:0; padding:0;">
      <ng-image-slider #nav
      [images]="imageObject"
      [infinite]="false"
      [autoSlide]="0"
      [imageSize]="{width: '10%', height: 70}"
      [showArrow] = "false"
      slideImage="1"></ng-image-slider>
    </div>
      
     </div>
     <div mat-dialog-actions>
      <button mat-raised-button class="close1" (click)="onClose()">CLOSE</button>
    </div>
    </form>  
