<div fxLayoutAlign = "center center"  class = "main-div" fxFlexFill>
    <mat-card fxFlex = "50">
<mat-toolbar>Reset Password</mat-toolbar>
<form fxLayoutAlign = "stretch" fxLayout = "column" class = "login-form" [formGroup] = "form" (ngSubmit) = "onSubmit()">
    <mat-form-field>
      <input matInput placeholder = "Email" formControlName = "email" type = "email" [ngClass]="{ 'is-invalid': submitted}" >
    </mat-form-field>
    <div *ngIf="(f.email.touched || f.email.dirty) && f.email.errors">
      <div *ngIf="f.email.errors.required" style="color:red;font-size: small;" >Email is <strong>required</strong></div>
      <div *ngIf="f.email.errors.pattern" style="color:red;font-size: small;" >Email not <strong>valid</strong></div>
  </div>
  <button mat-raised-button type ="submit" [disabled] = "loading">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" type = "submit"></span>
    Send Email</button>
</form>
</mat-card>
</div>