.main-div mat-card {
    padding: 0px;
    margin-top: 17%;
  }

.login-form {
    padding: 20px
}

.mat-toolbar {
    background: #52b788;
    color: #fff;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #52b788 !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #52b788 !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #52b788 !important;
  }

  .mat-raised-button{
    color: #52b788 !important;
  }

  /* ::ng-deep.mat-typography {
  width: 100%;
  background-image:url('../../../assets/img/2024571.jpg');
  background-size: cover;
  background-position: center;
} */