      <div style="padding: 20px;display:flex; flex-direction: row;flex-wrap: wrap;">
        <mat-card appAppMaterialElevation class="example-card" *ngFor = "let presciption of presc" style ="padding-right:20px;padding-left: 20px;margin-right: 1% ;margin-bottom:1%;cursor: pointer;text-align: center;" [ngClass]="{'selected-card':titleSelected === presciption.ID}" (click) = "showDetails(presciption)">
          <mat-card-content>
              <mat-icon style = "color:#52b788">calendar_today</mat-icon>
            <mat-card-title style = "font-size: 12px;">{{presciption?.date | date: 'dd/MM/yyyy'}}</mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>
      <div mat-dialog-actions>
        <button mat-button class="close1" (click)="onNoClick()">CLOSE</button>
    </div>
