::ng-deep.fc-daygrid-event-dot {
    cursor:pointer;
}
::ng-deep.fc-event-time {
    cursor:pointer;
}

::ng-deep.fc-event-title {
    cursor:pointer;
}
.mat-dialog { transition: none; }

::ng-deep.mat-spinner circle {
    text-align: center;
    stroke: #52b788;
    
  }