<app-header [sidenav]="leftSidenav"></app-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #leftSidenav mode="side" opened>
    <app-left-menu></app-left-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main_content">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
      <div class="container_1">
        <div class="main-body p-0">
          <div class="inner-wrapper">
            <div class="inner-sidebar">
              <div class="inner-sidebar-header justify-content-center"
                style=" border-top: 2px solid#52b788; border-left: 2px solid#52b788; border-right: 2px solid#52b788;background-color:#52b788 ;">
                <h2 style="color:white;padding-top: 10px;">Menu</h2>
              </div>
              <div class="inner-sidebar-body p-0">
                <div class="p-3 h-100" data-simplebar="init">
                  <div class="simplebar-wrapper" style="margin: -16px;">
                    <div class="simplebar-height-auto-observer-wrapper">
                      <div class="simplebar-height-auto-observer"></div>
                    </div>
                    <div class="simplebar-mask">
                      <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                        <div class="simplebar-content" style="padding: 16px;">
                          <nav class="nav nav-pills nav-gap-y-1 flex-column">
                            <a class="nav-link nav-link-faded has-icon" [routerLink]="['/adoptions']">
                              <mat-icon>access_time</mat-icon> Last Adoptions
                            </a>
                            <a class="nav-link nav-link-faded has-icon" [routerLink]="['/myadoptions']"
                              style="background-color: whitesmoke;">
                              <mat-icon>star</mat-icon>My Adoptions
                            </a>
                          </nav>
                        </div>
                      </div>
                    </div>
                    <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                  </div>
                  <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                    <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                  </div>
                  <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                    <div class="simplebar-scrollbar"
                      style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="inner-main">
              <div class="inner-main-header" style="background-color: #52b788; border-left: px solid#52b788;">
                <h2 style="padding-left: 45%;color:white;padding-top: 10px;">Last Adoptions</h2>
              </div>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                  </ng-container>

                  <ng-container matColumnDef="profilePicture">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Profile Picture </th>
                    <td mat-cell *matCellDef="let element"> <img src = "{{element.attachement1}}" width="50" height="50" class = "circular" style = "border:3px solid #52b788;"> </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="animaltype">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Animal Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.animaltype}} </td>
                  </ng-container>
                  <ng-container matColumnDef="race">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Race </th>
                    <td mat-cell *matCellDef="let element"> {{element.race}} </td>
                  </ng-container>
                  <ng-container matColumnDef="delete/edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-raised-button type="submit" style="color:cornflowerblue;"
                        (click)="displayAdoption(element)">DETAILS</button>
                      <button mat-icon-button color="warn" (click)="deleteAdoption(element.ID)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" floating="true">
                        <mat-icon (click)="editAdoption(element)" style="color:rgb(82,183,136)">edit</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-toolbar>
                  <mat-toolbar-row>
                    <span class="example-spacer"></span>
                    <button mat-fab color="primary" title="New Adoption" style="background-color: #009879;"
                      (click)="onCreate()">
                      <mat-icon style="padding-bottom: 70px;">add</mat-icon>
                    </button>
                    <mat-paginator class="paginator" [pageSize]="6" [pageSizeOptions]="[6, 10, 25]">
                    </mat-paginator>
                  </mat-toolbar-row>
                </mat-toolbar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>