
table {
    width: 100%;
  }
  
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table th,
  .styled-table td {
    padding: 2% 5%;
  }
  
  .styled-table tbody tr {
  border-bottom: 5px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
  }
  
  .styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  }
  
  
  .example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
  }
  
  tr.mat-row { height: 90px; }
  
  body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
  }
  .inner-wrapper {
    position: relative;
    height: calc(100vh - 3.5rem);
    transition: transform 0.3s;
  }
  
  @media (min-width: 992px) {
    .sticky-navbar .inner-wrapper {
        height: calc(100vh - 3.5rem - 48px);
    }
  }
  
  .inner-main,
  .inner-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .inner-sidebar {
    left: 0;
    width: 235px;
    border-right: 1px solid #cbd5e0;
    background-color: #fff;
    z-index: 1;
  }
  
  ::ng-deep .mat-column-delete-edit {
    padding-left: 100px;
    width: 5px;
  }
  
  .inner-main {
    right: 0;
    left: 235px;
  }
  .inner-main-footer,
  .inner-main-header,
  .inner-sidebar-footer,
  .inner-sidebar-header {
    text-align: center;
    height: 3.5rem;
    border-bottom: 1px solid #cbd5e0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex-shrink: 0;
  }
  .inner-main-body,
  .inner-sidebar-body {
    padding: 1rem;
    overflow-y: auto;
    position: relative;
    flex: 1 1 auto;
  }
  .inner-main-body .sticky-top,
  .inner-sidebar-body .sticky-top {
    z-index: 999;
  }
  .inner-main-footer,
  .inner-main-header {
    text-align: center;
    background-color: #fff;
  }
  .inner-main-footer,
  .inner-sidebar-footer {
    border-top: 1px solid #cbd5e0;
    border-bottom: 0;
    height: auto;
    min-height: 3.5rem;
  }
  @media (max-width: 767.98px) {
    .inner-sidebar {
        left: -235px;
    }
    .inner-main {
        left: 0;
    }
    .inner-expand .main-body {
        overflow: hidden;
    }
    .inner-expand .inner-wrapper {
        transform: translate3d(235px, 0, 0);
    }
  }
  
  
  .nav .show>.nav-link.nav-link-faded, .nav-link.nav-link-faded.active, .nav-link.nav-link-faded:active, .nav-pills .nav-link.nav-link-faded.active, .navbar-nav .show>.nav-link.nav-link-faded {
    color: #52b788;
    background-color: whitesmoke;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #52b788;
  }
  .nav-link.has-icon {
    display: flex;
    align-items: center;
  }
  .simplebar-content {
    overflow-y: hidden;
  }
  .nav-link.active {
    color: #52b788;
  }
  .nav-pills .nav-link {
    border-radius: .25rem;
  }
  .nav-link {
    color: #52b788;
  }
  .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }
  
  
  .main_content {
    width: 100%;
    padding-left:10px;
    padding-top: 10px;
    height: 100%-10%; 
    background: #FAFAFA;
  }
  
  .paginator{
    width: 100%;
    background-color: whitesmoke;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #52b788 !important;
   }
   
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #52b788 !important;
   } 
   
   ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #52b788 !important;
   }
   
   .mat-raised-button{
    color: #52b788 !important;
   }
   
   ::ng-deep mat-option.mat-selected {
    background: COLOR2 !important;
    color: #52b788 !important;
   }
   
   ::ng-deep.mat-select-arrow {
    color: #52b788 !important;
   }
   
   ::ng-deep.fc-view, .fc-view>table {
   background:#ffff !important;
   }
   
   ::ng-deep.fc-col-header-cell-cushion {
   color:rgb(0, 0, 0);
   }
   
   ::ng-deep.fc-toolbar-title {
   padding-left: 7px;
   padding-top: 5px;
   }
   
   ::ng-deep.fc-daygrid-day-number {
   color:#52b788
   }

   .circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .circular img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
