p {
    font-family: Lato;
  }
  
  .main_content {
    width:100%; 
    height: calc(100vh); 
    background: #FAFAFA;
  }

  .example-card {
    max-width: 300px;
    max-height: 300px;
  }
  
  .example-header-image {
    background-size: cover;
    margin-right: 10px;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  } 
.mat-card{
    border: 55px;
    border-radius: 5px !important;
    border: #000 !important;
   }

::ng-deep.mat-spinner circle {
    text-align: center;
    stroke: #52b788;
  }
  .selected-card {
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  }

  .cover {
    object-fit: cover;
    width: 50px;
    height: 100px;
  }