p {
    font-family: Lato;
  }
  
  .main_content {
    width:100%; 
    height: calc(100vh - 100px); 
    background: #FAFAFA;
  }

  .example-card {
    max-width: 320px;
  }
  
  .example-header-image {
    background-size: cover;
    margin-right: 10px;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  } 
.mat-card{
    border: 55px;
    border-radius: 5px !important;
    border: #000 !important;
   }

::ng-deep.mat-spinner circle {
    text-align: center;
    stroke: #52b788;
  }