p {
    font-family: Lato;
  }
  
  .main_content {
    width:100%; 
    height: calc(100vh - 100px); 
    background: #efefef;
  }

  .example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


 